body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
}
.signup_box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.login_box {
    width: 360px;
    height: 280px;
    margin: auto;
    margin-top: 100px;

    border-radius: 3px;
    background-color: white;
}

h1,
h4 {
    text-align: center;
}
h1 {
    padding-top: 15px;
}
form {
    width: 300px;
    margin-left: 20px;
}
form label {
    display: flex;
    margin-top: 15px;
    font-size: 18px;
}
form input {
    width: 100%;
    padding: 7px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
}
form button {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.pera_2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}
.pera_2 a {
    color: #49c1a2;
}
